@{
    ViewData["Title"] = "Server Time";
}



<div class="text-center">
    <h2 class="display-2 text-primary">Current Server Time</h2>
    <meta http-equiv="=refresh" content="1" />
    <h1 class="font-weight-bold text-success ">@(DateTime.Now)</h1>
   

</div>

